$familia: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$primera: capitalize;
$mayuscula: uppercase;
$negro: #272727;
$amarillo: #ffc600;
$blanco: #fff;
$sombra: 0 2px 0 rgba(0, 0, 0, 0.07);